.home {
    align-items: center;
}

.home-title {
    margin-top: 210px;
    margin-bottom: 50px;
}

.home-card {
    width: 200px;
    height: 325px;
    border: 1px solid #00000027;
    border-radius: 5px;
    transition: all 0.5s ease;
    background-color: #fff;
    color: #000;
}

.home-card:hover {
    border: 1px solid #000;
}

.title-card {
    max-width: 185px;
    margin-top: 20px;
    min-height: 70px;
}

.card-img {
    width: 195px;
    height: 195px;
    object-fit: cover;
}

.price {
    font-size: 20px;
    font-weight: 700;
    margin-top: -10px;
}

.home-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 50px;
    border: 1px solid #00000027;
    border-radius: 5px;
    background-image: url('http://localhost:8000/static/img/btnh.png');
    background-size: cover;
    background-position: center;
    transition: all .4s ease;
    z-index: 2;
    color: #000;
}

.home-btn:hover {
    border: 1px solid #000;
}

.home-recomendation {
    margin-bottom: 30px;
}

.rec-title h3 {
    font-size: 36px;
}

.cart-discount {
    margin-top: -10px;
    font-weight: 600;
}

.cart-discount .price {
    margin-top: -1px;
}

.line {
    opacity: 0.7;
    text-decoration: line-through;
    font-weight: 300;
}

.home-loading,
.home-error {
    text-align: center;
    padding: 3rem;
    margin-top: 100px;
}

.home-error {
    color: #dc3545;
}

